body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.task-row {
    overflow: scroll;
    white-space: nowrap;
}

.task-column {
    display: inline-block;
    vertical-align: top;
}

.header {
    padding: 20px 0;
}

.logo {
    width: 53px;
    height: 32px;
}

.task-categories {
    width: 100%;
    padding-left: 30px;
    background-color: #ff4c58;
    background-image: linear-gradient(to bottom right, #fcf0f4, #f6f7fb);
    border-radius: 15px;
}

.red-gradient {
    background-image: linear-gradient(to bottom right, #fcf0f4, #f6f7fb);
    border-radius: 15px;
}

.blue-gradient {
    background-image: linear-gradient(to bottom, #f5f7ff, #ffeff0);
    border-radius: 15px;
}

.allTagColor {
    color: #5979df;
}

.plus {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #5979df;
    color: white;
    border: none;
}

.schedule {
    width: 80%;
    background-color: #ff4c58;
    background-image: linear-gradient(to bottom right, #fcf0f4, #f6f7fb);
    border-radius: 15px;
}

.schedule-item {
    width: 59.95px;
}

.task-calendar {
    width: 300px;
    height: 48px;
    background: #eceffe;
    opacity: 0.8;
    border-radius: 15px;
}

.btn-task {
    background: #2354e9;
    border-radius: 10px;
    width: 153px;
    height: 40px;
    font-size: 20px;
    color: white;
    border: none;
}

.vc-container {
    background-image: linear-gradient(to bottom right, #fcf0f4, #f6f7fb);
    border: none;
}

.checkbox-container {
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

input[type="checkbox"] {
    visibility: hidden;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: -12px;
    width: 25px;
    height: 25px;
    background: #dfdfdf;
    border-radius: 6px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark {
    background-color: rgba(77, 121, 255, 0.2);
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    bottom: 7px;
    width: 8px;
    height: 15px;
    border: solid #4D79FF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.vc-highlights+span.vc-day-content {
    color: #5979df !important;
    font-weight: normal !important;
}

.vc-highlight {
    background: #dbddfb !important;
}

ul {
    list-style-type: none;
}

.day-contain {
    border-radius: 10px;
    padding: 17px;
    width: 275px;
}

.date {
    font-size: 14px;
    color: gray;
}

.round {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 8px solid #e5e5e5;
}

.blue-round {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: 8px solid #2354e9;
}

.task-box {
    white-space: normal;
    padding: 12px 16px;
    background: #f9f9f9;
    border-radius: 9px;
    cursor: pointer;
}

.task-title {
    font-size: 14px;
}

.progress {
    width: 64px;
    height: 64px !important;
    background: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    font-size: 14px;
    color: black;
    line-height: 135px;
    text-align: center;
    position: absolute;
    margin-top: -40px;
    top: 5%;
    left: 5%;
}

.progress .progress-bar {
    border-color: #fca3a9;
}

.progress .progress-right .progress-bar {
    animation: loading-right 1.8s linear forwards;
}

.progress .progress-left .progress-bar {
    animation: loading-left 1.8s linear forwards;
    animation-delay: 1.8s;
}

@keyframes loading-left {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-right {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    background: #dfdfdf;
    border-radius: 6px;
    border: none;
}

.red-line {
    width: 19px;
    height: 4px;
    background: red;
    border-radius: 4px;
    margin-top: 12px;
}

.blue-line {
    width: 19px;
    height: 4px;
    background: #2354e9;
    border-radius: 4px;
    margin-top: 12px;
}

.add-task {
    width: 189px;
    height: 35px;
    border-radius: 9px;
    background: #85e99f;
    border: none;
    color: white;
}

.youtube {
    color: #fca3a9;
}

.task-tag-chevron {
    margin-top: -2px;
    margin-right: 12px;
}

.task-done,
.task-done span {
    color: rgb(0, 0, 0, 0.3) !important;
}

.task-tag {
    padding: 11px 0px 11px 10px;
    cursor: pointer;
    margin-right: 30px;
}

.task-tag.active .allTagColor {
    color: #FFF;
}

.task-tag.active {
    background-color: #4D79FF;
    color: #fff;
    border-radius: 5px;
}

.task-category {
    font-size: 15px;
    margin-bottom: 11px;
    margin-top: 20px;
}

.task-title {
    border: 0;
    background: transparent;
}

.task-title:focus {
    outline: none;
}

.right-bar .icon-container {
    padding: 0px 15px 15px 15px;
}

.right-bar a {
    border: 2px solid transparent;
    border-radius: 5px;
}

.right-bar .active {
    border-color: #4485F1;
}

.icon-container a {
    padding: 2px 8px 6px 8px;
    margin-top: 15px;
}

.add-integration {
    padding: 19px 8px 23px 8px;
}

// Login screen
.sign-in-box {
    max-width: 600px;
    margin: auto;
    margin-top: 170px;
    padding: 60px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #f5f7ff, #ffeff0);
    label {
        font-weight: 300;
    }
    button {
        margin-top: 15px;
    }
    input {
        border: 1px solid #F3F3F3
    }
    h1 {
        margin-bottom: 30px;
    }
}
.login-right-bar {
    background-color: #FFEDE1;
    padding-top: 60px;
    img {
        margin-left: -170px;
        width: 120%
    }
}
.or-hr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 0.1em;
    margin: 10px 0 20px;
 }
.or-hr span {
     background:#ffeff0;
     color: rgba(0, 0, 0, 0.2);
     padding:0 10px;
 }
 .button {
    padding: 8px 21px;
    border-radius: 23px;
    background-color: #4C79FF;
    border: 2px solid #4C79FF;
    color: #fff;
    cursor: pointer;
    transition-duration: 200ms;
 }
 .button:hover {
    background-color: transparent;
    color: #4C79FF;
}
.button.login:hover {
    background-image: url('/images/login-right-blue.svg');
}
.button.login {
    background-image: url('/images/login-right.svg');
    background-repeat: no-repeat;
    background-position: 86% 50%;
    padding-right: 40px;
}
.register-text {
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 25px 0;
    a {
        color: #4C79FF;
    }
 }
 .sign-in-button {
    text-align: center;
 }
 .sign-in-other-options {
     text-align: center;
 }
 .sign-in-other-options .social-sign-in:first-child {
     margin-right: 20px;
 }
 .social-sign-in:hover {
     background-color: #f9f9f9;
 }
 .social-sign-in {
    border-radius: 10px;
    background-color: #fff;
    border: 0px;
    padding: 8px 30px;
    transition-duration: 200ms;
    cursor: pointer;
 }
 .user-settings-dropdown{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border: none !important;
    border-radius: 20px !important;
    padding-top: 10px;
    padding-bottom: 0px;
    li {
        padding: 10px 24px;
        font-size: 12px;
        a {
            padding: 0px;
            &:hover {
                background-color: transparent;
            }
        }
        &:last-child {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .divider {
        padding-bottom: 20px;
        box-shadow: 0px 15px 20px rgb(0 0 0 / 8%);
        border-radius: 0px 0px 20px 20px;
    }
 }
.task-modal{
    .modal-title {
        margin-top: 8px;
    }
    .modal-content{
        border-radius: 10px !important;
    }
    .modal-header{
        border-bottom: none;
    }
    .circle{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .task-options{
        .close{
            padding:0 !important;
            margin:auto !important;
        }
    }
    .task-top-btn{
        transition: background-color 800ms ease;
        &:first-child{
            background-color: #605BFF;
            &:hover{
                background-color: #5852ff; 
            }
        }
        &:nth-child(2),&:nth-child(3){
            color:#605BFF;
            &:hover{
                background-color: #605BFF; 
                color: white;
            }
        }
        padding: 10px 15px;
        border-radius: 10px;
        border-color: #0d6dfd48;
    }
    .task-plan{
        p{
            margin-bottom: 0;
        }
        .time{
            .h6{
                margin-bottom: 0;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-transform: uppercase;
                color: #030229;
            }
        }
        .subtaskenter {
            .checkmark {
                top:8px;
                left: -8px;
                width: 17px;
                height: 17px;
                &:after {
                    left: 7px;
                    bottom: 5px;
                    width: 4.5px;
                    height: 10px;
                }
            }
            .subtask-input {
                font-weight: 600;
                font-size: 15px;
                line-height: 20px;
                color: rgba(3, 2, 41,0.5);
                border: none;
                padding: 0.075rem 0.75rem;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .subtask-content{
            .subtask-check-mark{
                .checkmark{
                    top:8px;
                    left: -8px;
                    width: 17px;
                    height: 17px;
                    &:after {
                        left: 7px;
                        bottom: 5px;
                        width: 4.5px;
                        height: 10px;
                    }
                }
                .check-label{
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 20px;
                    color: rgba(3, 2, 41,0.5);
                }
            }
        }
    }
    .task-description{
        .description{
            border: none;
            height: 149px;
            background: #F7F7F8;
            border-radius: 10px;
            resize: none;
            color: #030229;
            opacity: 0.6;
        }
    }
    .task-comment{
        .save,.user{
            cursor: pointer;
            background: #F7F7F8;
            border-radius: 10px;
            width: 42px;
        }
        .add-comment{
            border: none;
            background: #F7F7F8;
            border-radius: 10px;
            height: 42px;
            color: #030229;
            opacity: 0.6;
        }
        .view-comment{
            .comment{
                &:first-child{
                    margin-top: 2rem !important;
                }
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                .name{
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 21px;
                    letter-spacing: 0.106696px;
                }
                .circle-ms{
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background:rgba(96, 91, 255, 0.07);
                    svg{
                        width: 9px;
                        height: auto;
                        margin-top:-7px;
                    }
                }
                .create-time{
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 21px;
                    width: auto;
                    margin-top: 0.5rem;
                }
            }
        }
    }
    .task-info{
        p{
            .h6{
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
            }
            span:last-child{
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #010D1C;
            }
        }
    }
}
.account,.rituals,.timeboxing-end,.notifications,.timeboxing,.integrations,.profile{
    position: relative;
}
.blur{
    pointer-events: none;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -40%;
    width:80%;
    height: 500px;
    .color1{
        position: absolute;
        top: 0;
        left: 0;
        width: 217.77px;
        height: 263.88px;
        background-color: #FFA34C;
        opacity: 0.05;
        filter: blur(25px);
        border-radius: 15px;
        transform: rotate(-180deg);
    }
    .color2{
        position: absolute;
        bottom: 0;
        right: 51px;
        width: 145.42px;
        height: 185.14px;
        background-color: #4D79FF;
        opacity: 0.15;
        filter: blur(80px);
        border-radius: 15px;
    }
    .color3{
        position: absolute;
        bottom: 70%;
        left: 50%;
        margin-bottom:-100px;
        width:200px;
        height:200px;
        background: #FF4C58;
        opacity: 0.15;
        filter: blur(100px);
        border-radius: 15px;
        transform: rotate(90deg);
    }
}
.account-setting{
    .content{
        margin-left: 4rem;
        width:60%;
        max-width: 630px;
        height: 80vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
            width: 0;
        }
        -ms-overflow-style: none; /* IE 11 */
        scrollbar-width: none; /* Firefox 64 */
    }
}
.notifications{
    input[type=radio]{
        width: 16px;
        height: 16px;
    }
    input[type=radio]:checked{
        box-shadow: none;
        background:none;
        position: relative;
        border-color: #665BF8;
        &::after{
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            background-color: #665BF8;
            border-radius: 50%;
            left: 0;
            right: 0;
            top: 50%;
            margin: 0 auto;
            margin-top: -6px;
        }
    }
}
.profil-form{
    h1{
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
    }
    input{
        width: 154px;
        height: 37px;
        background:rgba(255, 255, 255,0.5);
        border: none;
        outline: none;
        border-radius: 10px;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #030229;
    }
}
.profil-btn{
    button{
        border-radius: 10px;
        height: 32px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        border: none;
        outline: none;
        background-color:  #4C79FF;
        &:last-child{
            background-color: #EC485C;
        }
    }
}
.picture-card{
    width: 110px;
    height: 110px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.general{
    border-top: 1px solid rgba(3, 2, 41,0.07);
    h1{
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        .email{
            width:80px ;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
.task-you-follow{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    .check{
        width: 40px;
    }
}
.receive-task{
    h1{
        color: #030229;
        font-weight: 700;
        span:first-child{
            font-size: 17px;
            line-height: 23px;
        }
        div{
            width: 40px;
            span:first-child{
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
.plan-time{
    .time{
        width: 180px;
        padding: 6px 0px 6px 17px;
        background-color:rgba(96, 91, 255, 0.2);
        border-radius: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #605BFF;
    }
    .plan{
        width: 104px;
        padding: 6px 17px 6px 17px;
        border-radius: 10px;
        background-color:rgba(96, 91, 255,0.2);
    }
}
.setting-card{
    background: #F7F7F7;
    border: 1px solid #F6EDEE;
    border-radius: 10px;
}
.account-title{
    margin-left: 4rem;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #000000;
}
.title{
    padding-top: 5px;
    border-bottom: 1px solid rgba(3, 2, 41,0.07);
    h1{
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #030229;
    }
}
.text{
    h1{
        font-weight: 780;
        font-size: 17px;
        line-height: 23px;
        color: #030229;
    }
    p{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: rgba(3, 2, 41, 0.8);
    }
}
.help{
    border-top: 1px solid rgba(3, 2, 41,0.07);
    padding-top: 15px;
    padding-bottom: 5px;
    p{
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #030229;
        a{
            text-decoration-line: underline;
            color: #4C79FF;
        }
    }
}
.account-setting-select{
    .text{
        h1{
            font-weight: 780;
            font-size: 17px;
            line-height: 23px;
            color: #030229;
        }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: rgba(3, 2, 41, 0.8);
        }
    }
    .select-field{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: 10px;
            width:0;
            height:0;
            border-left:5px solid transparent;
            border-right:5px solid transparent;
            border-top:5px solid #605BFF;
            border-radius:3px;
            margin-top: -4px;
            pointer-events: none;
        }
    }
    .select{
        background-image: none;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: rgba(96, 91, 255, 0.1);
        padding: 6px 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #605BFF;
        appearance:none;
        position: relative;
    }
}
.account-setting-switchbox{
    input[type=checkbox] {
        visibility:visible;
        width: 34px;
        height: 21px;
        background-color: #D1D1D1;
        border: none;
        box-shadow: initial;
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }
    input[type=checkbox]:checked {
        background-color: #9B9BFF;
    }
    .text{
        h1{
            font-weight: 780;
            font-size: 17px;
            line-height: 23px;
            color: #030229;
        }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: rgba(3, 2, 41, 0.8);
        }
    }
}
.navigation-setting{
    position: absolute;
    left: 0;
    list-style: none;
    background: #F8F8F8;
    border-radius: 0px 20px 20px 0px;
    li{
        margin: 0.8rem 0;
        a{
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: -0.02em;
            color: #A3AED0;
            svg{
                stroke: #A3AED0;
            }
        }
    }
}
.setting-blur{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    .color1{
        position: absolute;
        top:0px;
        left: 0px;
        width: 100px;
        height: 100px;
        background-color: #10DA46;
        opacity: 0.15;
        filter: blur(60px);
        border-radius: 15px;
        transform: rotate(90deg);
    }
    .color2{
        position: absolute;
        right: 0;
        top: 0;
        width: 115.1px;
        height:113.519px;
        background: #FF4C58;
        opacity: 0.15;
        filter: blur(72px);
        border-radius: 15px;
        transform: rotate(90deg);
    }
    .color3{
        position: absolute;
        bottom: 0px;
        right:0px;
        width: 126px;
        height: 126px;
        background: #FF8F6B;
        opacity: 0.15;
        filter: blur(60px);
        border-radius: 15px;
        transform: rotate(90deg);
    }
    .color4{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 126px;
        height: 129px;
        background: #615BFE;
        opacity: 0.15;
        filter: blur(70px);
        border-radius: 15px;
        transform: rotate(90deg);
    }
}
.active-setting{
    position: relative;
    a{
        font-weight: 700 !important;
        color: #1B2559 !important;
        svg{
            stroke:  #615BFE !important;
        }
    }
    &:after{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -18px;
        width: 4px;
        height: 36px;
        background: #615BFE;
        border-radius: 25px;
    }
}